<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
        <title>Bird_Program</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
        <style>
            body {
                padding-top: 70px;
            }
            body {
                text-align: center;
            }
            .large-text {
                font-size: 1.8em;
                color: blue;
            }
            .spacer {
                margin: 20px 0;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand">Bird-Program</a>
        </nav>

        <div class="large-text">{{message1}}</div>
        <div class="spacer"></div>

        <div>
            <a href='{% url "BirdProgram:GUI_start" %}' class='btn btn-outline-primary'>ＯＫ</a>
        </div>
    </body>
</html>