<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
        <title>Bird_Program</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
        <style>
            body {
                padding-top: 70px;
            }
            body {
                text-align: center;
            }
            .large-text {
                font-size: 2.3em;
                color: black;
            }
            .large-text2 {
                font-size: 1.8em;
                color: red;
            }
            .spacer {
                margin: 20px 0;
            }
        </style>
        <script>
            window.onload = function(){
                window.location.href = "{% url 'BirdProgram:main_program2' %}";
            }
        </script>
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand">Bird-Program</a>
        </nav>
        <div class="large-text">{{message1}}</div>
        <div class="spacer"></div>
    </body>
</html>



